/*@media only screen and (min-width : 1300px){*/


/*input[type=file]{
    position: absolute;
    width: 25rem;
    height: 5rem;
    opacity: 1;
}*/
/*/////////////////////////////////////////////////////////////////////*/

    .userImagesMainContainer{
        width: 80%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items:center;
        gap: 3%;
    }

    .userImageDisplayFormButton{
        margin-right: auto;
        margin-left: 10%;
    }

    .userImageJsxMainContainer{
        display: flex;
        margin-top: 2%;
        width: 35rem;
        height: 25rem;
        overflow: hidden;
        object-position: center;
        object-fit: contain;
    }

    .userImageJsxImage{
        width: 100%;
        height: auto;
        object-position: center;
        object-fit: cover;
        border-radius: 0.5rem;
    }


    .pictureUploadsJsxForm{

    }

    .pictureUploadsJsxLabel{

    }

    .containerFileButton{

    }

    .pictureUploadsJsxFileLabel{
        position: absolute;
    }
    .pictureUploadsJsxInput{

    }
/*}*/
@media only screen and (min-width: 1031px) and (max-width: 1366px){

}

@media only screen and (min-width: 360px) and (max-width: 460px){

}

@media only screen and (min-width: 460px) and (max-width: 660px){

}

@media only screen and (min-width: 660px) and (max-width: 760px){

}
@media only screen and (min-width: 760px) and (max-width: 1036px){

}
