.fullScreenContainer{
    width: 75%;
    margin-left: 10%;
    height: auto;
    overflow: hidden;
    /*object-fit: cover;
    object-position: center;*/
}

.fullsScreenTitle{
    color: white;
    font-size: 2rem;
}

.fullScreenImage{
    width: 75%;
    height: auto;
    max-height: 60rem;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.fullsScreenDescriptionTitle{
    font-size: 1.6rem;
    text-decoration-line: underline;
}

.fulleScreenDescription{
    font-size: 1.3rem;
}

.fullScreenDateTitle{
    font-size: 1.6rem;
    text-decoration-line: underline;
}

.fullScreenUploadDate{
    font-size: 1.3rem;
}

.fullScreenCloseButton{
    margin-left: 70%;
    top: 2rem;
}
