.mainContInscriptionForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90rem;
    height: 65rem;
    background: rgba(0, 0, 0, 0.79);
}

.titleCloseButtonContainer{
    display: flex;
    width: 80rem;
    align-items: center;
    justify-content: space-between;
}

.inscriptionTitle{
    font-size: 3.5rem;
    color: var(--font-colorWhite)
};

.inscriptionForm{
    border: var(--box-show);
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    width: 80rem;
    height: 50rem;
}

.selectContainer{

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80rem;
}

.countriesTownsSelectors{
    width: 15rem;
    font-size: 1.6rem;
    height: 3rem;
    color: var(--font-colorWhite);
    background-color: var(--inputBackground-color);
    border: var(--inputBorder-style);
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance: none;
}

.inscriptionFormOptions{
    font-size: 1.6rem;
}
.inscriptionFormLabel{
    font-size:1.6rem;
    color: var(--font-colorWhite)
}

.birthdaySelector{
    width: 20rem;
    height: 3rem;
    text-align: center;
    font-size: 1.6rem;
    color: var(--font-colorWhite);
    background-color: var(--inputBackground-color);
    border: var(--inputBorder-style);
}

.namesCointainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80rem;
    height: 10rem;
}

.nameInput{
    width: 25rem;
    height: 3rem;
    background-color: var(--inputBackground-color);
    border: var(--inputBorder-style);
    color: var(--font-colorWhite);
}

.pseudoMailcontainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80rem;
    align-items: center;
    height: 15rem;
    align-content: space-around;
    margin-left:;
}

.mailUserNameInput{
    width: 69.62rem;
    height: 3rem;
    background-color: var(--inputBackground-color);
    border: var(--inputBorder-style);
    color: var(--font-colorWhite);
}

.passwordButtonCountainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}

.passwordCountainer{
    display: flex;
    flex-wrap: wrap;
    width: 50rem;
    height: 15rem;
    align-items: center;
    justify-content: space-between;
}

.passwordInput{
    width: 25rem;
    height: 3rem;
    background-color: var(--inputBackground-color);
    border: var(--inputBorder-style);
    color: var(--font-colorWhite);
}
